@import '../../../variables.scss';

.logout{
  position: fixed;
  z-index: 20;
  top: 150px;
  width: 100%;

}

.logout__wrapper {
  position: relative;
  width: 600px;
  padding-top: 60px;
  padding-bottom: 52px;
  background-color: $white;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.logout__name {
  text-align: center;
  font-size: 50px;
  line-height: 55px;
  text-transform: none;
  color: $grey;
  padding-bottom: 25px;
}

.logout__announce {
  text-transform: none;
  margin: 0 auto;
  width: 270px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 300;
  color: $grey;
  padding-bottom: 40px;
}



.auth__close {
  position: absolute;
  border: none;
	top: 9px;
	right: 9px;
	width: 21px;
	height: 21px;
	font-size: 0px;
	cursor: pointer;
  background-color: transparent;
  
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: $grey;  
  }

  &::before {
    transform: rotate(45deg);
    right: -2px;
    top: 8px;  
  }

  &::after {
    transform: rotate(-45deg);
    right: -2px;
    top: 8px;  
  }
}
